In [1]:
from bs4 import BeautifulSoup, Comment
from google.colab import drive
from urllib.request import urlopen
import pandas
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
seasons = list(range(1980, 2023))

In [3]:
basic_stats_per_season = []
for season in seasons:
    soup = BeautifulSoup(urlopen('https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'.format(season)))

    headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')][1:]
    rows = soup.findAll('tr', class_ = lambda x: x != 'thead')[1:]

    players_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
    stats = pandas.DataFrame(players_stats, columns = headers)
    stats['Season'] = season

    basic_stats_per_season.append(stats)

basic_stats = pandas.concat(basic_stats_per_season)

In [4]:
basic_stats.tail()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season
807,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,.465,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
808,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,.460,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
809,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,.526,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
810,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,.567,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
811,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,.626,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [5]:
advanced_stats_per_season = []
for season in seasons:
    soup = BeautifulSoup(urlopen('https://www.basketball-reference.com/leagues/NBA_{}_advanced.html'.format(season)))

    headers = [th.getText() for th in soup.findAll('tr', limit = 2)[0].findAll('th')][1:]
    rows = soup.findAll('tr', class_ = lambda x: x != 'thead')[1:]

    players_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
    stats = pandas.DataFrame(players_stats, columns = headers)
    stats['Season'] = season

    advanced_stats_per_season.append(stats)

advanced_stats = pandas.concat(advanced_stats_per_season)

In [6]:
advanced_stats.tail()

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,OWS,DWS,WS,WS/48,,OBPM,DBPM,BPM,VORP,Season
807,Thaddeus Young,PF,33,TOR,26,475,15.8,.526,.299,.188,...,0.5,0.8,1.3,.127,,-0.2,2.2,2.0,0.5,2022
808,Trae Young,PG,23,ATL,76,2652,25.4,.603,.395,.358,...,9.0,1.0,10.0,.181,,7.1,-2.0,5.2,4.8,2022
809,Omer Yurtseven,C,23,MIA,56,706,17.4,.546,.045,.247,...,0.8,1.4,2.1,.145,,-1.4,0.4,-1.0,0.2,2022
810,Cody Zeller,C,29,POR,27,355,17.2,.627,.044,.544,...,0.9,0.2,1.1,.143,,-1.2,-1.0,-2.1,0.0,2022
811,Ivica Zubac,C,24,LAC,76,1852,19.2,.660,.000,.459,...,4.3,2.9,7.2,.187,,-0.1,0.8,0.7,1.3,2022

In [7]:
mvp_award_voting_per_season = []
for season in seasons[:-1]:
    soup = BeautifulSoup(urlopen('https://www.basketball-reference.com/awards/awards_{}.html'.format(season)))

    headers = [th.getText() for th in soup.findAll('tr', limit = 2)[1].findAll('th')][1:]
    rows = soup.find(lambda x: x.has_attr('id') and x['id'] == 'mvp').findAll('tr', class_ = lambda x: x != 'thead')[1:]

    players_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]
    stats = pandas.DataFrame(players_stats, columns = headers)
    stats['Season'] = season

    mvp_award_voting_per_season.append(stats)

mvp_award_voting = pandas.concat(mvp_award_voting_per_season)

In [8]:
mvp_award_voting.tail()

,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Season
11,Russell Westbrook,32,WAS,0.0,5.0,1010,0.005,65,36.4,22.2,11.5,11.7,1.4,0.4,.439,.315,.656,3.7,.075,2021
12,Ben Simmons,24,PHI,0.0,3.0,1010,0.003,58,32.4,14.3,7.2,6.9,1.6,0.6,.557,.300,.613,6.0,.153,2021
13,James Harden,31,TOT,0.0,1.0,1010,0.001,44,36.6,24.6,7.9,10.8,1.2,0.8,.466,.362,.861,7.0,.208,2021
14,LeBron James,36,LAL,0.0,1.0,1010,0.001,45,33.4,25.0,7.7,7.8,1.1,0.6,.513,.365,.698,5.6,.179,2021
15,Kawhi Leonard,29,LAC,0.0,1.0,1010,0.001,52,34.1,24.8,6.5,5.2,1.6,0.4,.512,.398,.885,8.8,.238,2021

In [9]:
standings_per_season = []
for season in seasons:
    soup = BeautifulSoup(urlopen('https://www.basketball-reference.com/leagues/NBA_{}_standings.html'.format(season)))
    commented_html = []
    for comment in soup.findAll(text = lambda text:isinstance(text, Comment)):
        commented_html.append(comment.extract())
    commented_soup = BeautifulSoup(next(filter(lambda comment: 'Expanded Standings Table' in comment, commented_html), commented_html[32]))

    headers = [th.getText() for th in commented_soup.findAll('tr', limit = 2)[1].findAll('th')][:3]
    rows = commented_soup.findAll('tr')[2:]

    teams_stats = [[td.getText() for td in rows[i].findAll(lambda x: x.has_attr('data-stat') and x['data-stat'] == 'ranker' or 'team_name' or 'Overall')][:4] for i in range(len(rows))]
    for team_stat in teams_stats:
        team_stat.pop(2)
    stats = pandas.DataFrame(teams_stats, columns = headers)
    stats['Season'] = season

    standings_per_season.append(stats)

standings_stats = pandas.concat(standings_per_season)

In [10]:
standings_stats.tail()

    Rk                   Team Overall  Season
25  26         Indiana Pacers   25-57    2022
26  27  Oklahoma City Thunder   24-58    2022
27  28        Detroit Pistons   23-59    2022
28  29          Orlando Magic   22-60    2022
29  30        Houston Rockets   20-62    2022

In [11]:
def map_team_name_to_initials(team: str) -> str:
    return {'Atlanta Hawks': 'ATL',
            'Boston Celtics': 'BOS',
            'Brooklyn Nets': 'BRK',
            'Charlotte Bobcats': 'CHA',
            'Charlotte Hornets': 'CHH/CHO',
            'Chicago Bulls': 'CHI',
            'Cleveland Cavaliers': 'CLE',
            'Dallas Mavericks': 'DAL',
            'Denver Nuggets': 'DEN',
            'Detroit Pistons': 'DET',
            'Golden State Warriors': 'GSW',
            'Houston Rockets': 'HOU',
            'Indiana Pacers': 'IND',
            'Kansas City Kings': 'KCK',
            'Los Angeles Clippers': 'LAC',
            'Los Angeles Lakers': 'LAL',
            'Memphis Grizzlies': 'MEM',
            'Miami Heat': 'MIA',
            'Milwaukee Bucks': 'MIL',
            'Minnesota Timberwolves': 'MIN',
            'New Jersey Nets': 'NJN',
            'New Orleans Hornets': 'NOH',
            'New Orleans Pelicans': 'NOP',
            'New Orleans/Oklahoma City Hornets': 'NOK',
            'New York Knicks': 'NYK',
            'Oklahoma City Thunder': 'OKC',
            'Orlando Magic': 'ORL',
            'Philadelphia 76ers': 'PHI',
            'Phoenix Suns': 'PHO',
            'Portland Trail Blazers': 'POR',
            'Sacramento Kings': 'SAC',
            'San Antonio Spurs': 'SAS',
            'San Diego Clippers': 'SDC',
            'Seattle SuperSonics': 'SEA',
            'Toronto Raptors': 'TOR',
            'Utah Jazz': 'UTA',
            'Vancouver Grizzlies': 'VAN',
            'Washington Bullets': 'WSB',
            'Washington Wizards': 'WAS'}[team]

standings_stats.Team = standings_stats.Team.apply(map_team_name_to_initials)
standings_stats.Team[(standings_stats.Team == 'CHH/CHO') & (standings_stats.Season <= 2002)] = 'CHH'
standings_stats.Team[(standings_stats.Team == 'CHH/CHO') & (standings_stats.Season >= 2015)] = 'CHO'

In [12]:
def remove_asterisk_from_player_name(player: str) -> str:
    return player.replace('*', '')

basic_stats.Player = basic_stats.Player.apply(remove_asterisk_from_player_name)
advanced_stats.Player = advanced_stats.Player.apply(remove_asterisk_from_player_name)

In [13]:
basic_stats['PlayerTmSeason'] = basic_stats.Player.map(str) + basic_stats.Tm.map(str) + basic_stats.Season.map(str)
basic_stats['TmSeason'] = basic_stats.Tm.map(str) + basic_stats.Season.map(str)
advanced_stats['PlayerTmSeason'] = advanced_stats.Player.map(str) + advanced_stats.Tm.map(str) + advanced_stats.Season.map(str)
mvp_award_voting['PlayerTmSeason'] = mvp_award_voting.Player.map(str) + mvp_award_voting.Tm.map(str) + mvp_award_voting.Season.map(str)
standings_stats['TmSeason'] = standings_stats.Team.map(str) + standings_stats.Season.map(str)

In [14]:
df = basic_stats.merge(advanced_stats, on = 'PlayerTmSeason', how = 'left')
df = df.merge(mvp_award_voting, on = 'PlayerTmSeason', how = 'left')
df = df.merge(standings_stats, on = 'TmSeason', how = 'left')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22469 entries, 0 to 22468
Data columns (total 85 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player_x        22469 non-null  object
 1   Pos_x           22469 non-null  object
 2   Age_x           22469 non-null  object
 3   Tm_x            22469 non-null  object
 4   G_x             22469 non-null  object
 5   GS              22469 non-null  object
 6   MP_x            22469 non-null  object
 7   FG              22469 non-null  object
 8   FGA             22469 non-null  object
 9   FG%_x           22469 non-null  object
 10  3P              22469 non-null  object
 11  3PA             22469 non-null  object
 12  3P%_x           22469 non-null  object
 13  2P              22469 non-null  object
 14  2PA             22469 non-null  object
 15  2P%             22469 non-null  object
 16  eFG%            22469 non-null  object
 17  FT              22469 non-null  object
 18  FTA             22469 non-null  object
 19  FT%_x           22469 non-null  object
 20  ORB             22469 non-null  object
 21  DRB             22469 non-null  object
 22  TRB_x           22469 non-null  object
 23  AST_x           22469 non-null  object
 24  STL_x           22469 non-null  object
 25  BLK_x           22469 non-null  object
 26  TOV             22469 non-null  object
 27  PF              22469 non-null  object
 28  PTS_x           22469 non-null  object
 29  Season_x        22469 non-null  int64
 30  PlayerTmSeason  22469 non-null  object
 31  TmSeason        22469 non-null  object
 32  Player_y        22469 non-null  object
 33  Pos_y           22469 non-null  object
 34  Age_y           22469 non-null  object
 35  Tm_y            22469 non-null  object
 36  G_y             22469 non-null  object
 37  MP_y            22469 non-null  object
 38  PER             22469 non-null  object
 39  TS%             22469 non-null  object
 40  3PAr            22469 non-null  object
 41  FTr             22469 non-null  object
 42  ORB%            22469 non-null  object
 43  DRB%            22469 non-null  object
 44  TRB%            22469 non-null  object
 45  AST%            22469 non-null  object
 46  STL%            22469 non-null  object
 47  BLK%            22469 non-null  object
 48  TOV%            22469 non-null  object
 49  USG%            22469 non-null  object
 50  Â                22469 non-null  object
 51  OWS             22469 non-null  object
 52  DWS             22469 non-null  object
 53  WS_x            22469 non-null  object
 54  WS/48_x         22469 non-null  object
 55  Â                22469 non-null  object
 56  OBPM            22469 non-null  object
 57  DBPM            22469 non-null  object
 58  BPM             22469 non-null  object
 59  VORP            22469 non-null  object
 60  Season_y        22469 non-null  int64
 61  Player          685 non-null    object
 62  Age             685 non-null    object
 63  Tm              685 non-null    object
 64  First           685 non-null    object
 65  Pts Won         685 non-null    object
 66  Pts Max         685 non-null    object
 67  Share           685 non-null    object
 68  G               685 non-null    object
 69  MP              685 non-null    object
 70  PTS_y           685 non-null    object
 71  TRB_y           685 non-null    object
 72  AST_y           685 non-null    object
 73  STL_y           685 non-null    object
 74  BLK_y           685 non-null    object
 75  FG%_y           685 non-null    object
 76  3P%_y           685 non-null    object
 77  FT%_y           685 non-null    object
 78  WS_y            685 non-null    object
 79  WS/48_y         685 non-null    object
 80  Season_x        685 non-null    float64
 81  Rk              20452 non-null  object
 82  Team            20452 non-null  object
 83  Overall         20452 non-null  object
 84  Season_y        20452 non-null  float64
dtypes: float64(2), int64(2), object(81)
memory usage: 14.7+ MB

In [16]:
df = df[df.Tm_x != 'TOT']

In [17]:
df = df.loc[:, ~df.columns.duplicated()]

In [18]:
df.drop(columns = ['\xa0', 'PlayerTmSeason', 'TmSeason', 'Player_y', 'Pos_y', 'Age_y', 'Tm_y', 'G_y', 'MP_y', 'Season_y', 'Player', 'Age', 'Tm',
                   'G', 'MP', 'PTS_y', 'TRB_y', 'AST_y', 'STL_y', 'BLK_y', 'FG%_y', '3P%_y', 'FT%_y', 'WS_y', 'WS/48_y', 'Team'],
    inplace = True)

In [19]:
df.rename(columns = {'Player_x': 'Player', 'Pos_x': 'Pos', 'Age_x': 'Age', 'Tm_x': 'Tm', 'G_x': 'G', 'MP_x': 'MP',
                     'FG%_x': 'FG%', '3P%_x': '3P%', 'FT%_x': 'FT%', 'TRB_x': 'TRB', 'AST_x': 'AST', 'STL_x': 'STL',
                     'BLK_x': 'BLK', 'PTS_x': 'PTS', 'Season_x': 'Season', 'WS_x': 'WS', 'WS/48_x': 'WS/48'},
    inplace = True)

In [20]:
df.fillna({'G': 0, 'GS': 0, 'MP': 0, 'FG': 0, 'FGA': 0, 'FG%': 0, '3P': 0, '3PA': 0, '3P%': 0, '2P': 0,
           '2PA': 0, '2P%': 0, 'eFG%': 0, 'FT': 0, 'FTA': 0, 'FT%': 0, 'ORB': 0, 'DRB': 0, 'TRB': 0, 'AST': 0,
           'STL': 0, 'BLK': 0, 'TOV': 0, 'PF': 0, 'PTS': 0, 'PER': 0, 'TS%': 0, '3PAr': 0, 'FTr': 0, 'ORB%': 0,
           'DRB%': 0, 'TRB%': 0, 'AST%': 0, 'STL%': 0, 'BLK%': 0, 'TOV%': 0, 'USG%': 0, 'OWS': 0, 'DWS': 0, 'WS': 0,
           'WS/48': 0, 'OBPM': 0, 'DBPM': 0, 'BPM': 0, 'VORP': 0, 'First': 0, 'Pts Won': 0, 'Pts Max': 0, 'Share': 0},
    inplace = True)

In [21]:
int_columns = ['Age', 'G', 'GS', 'First', 'Pts Won', 'Pts Max', 'Rk']
percentage_float_columns = ['FG%', '3P%', '2P%', 'eFG%', 'FT%', 'TS%', '3PAr', 'FTr', 'WS/48', 'Share']
float_columns = ['MP', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
                 'PTS', 'PER', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'OBPM', 'DBPM', 'BPM', 'VORP']

for column in int_columns:
    if column == 'GS':
        df[column] = df[column].astype(str).apply(lambda x: '0' if x == '' else x)

    if column == 'First' or 'Pts Won':
        df[column] = df[column].astype(str).apply(lambda x: x[:-2] if '.' in x else x)

    df[column] = df[column].astype(int)

for column in percentage_float_columns:
    if column == 'Share':
        df[column] = df[column].astype(str).apply(lambda x: '0.0' if x == '0' else x).astype(float)
    else:
        df[column] = df[column].apply(lambda x: x.zfill(1)).astype(float)

for column in float_columns:
    if column == 'MP' or 'PER' or 'USG%':
        df[column] = df[column].astype(str).apply(lambda x: '0.0' if x == '' else x)

    df[column] = df[column].astype(float)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20452 entries, 0 to 22468
Data columns (total 56 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   20452 non-null  object
 1   Pos      20452 non-null  object
 2   Age      20452 non-null  int64
 3   Tm       20452 non-null  object
 4   G        20452 non-null  int64
 5   GS       20452 non-null  int64
 6   MP       20452 non-null  float64
 7   FG       20452 non-null  float64
 8   FGA      20452 non-null  float64
 9   FG%      20452 non-null  float64
 10  3P       20452 non-null  float64
 11  3PA      20452 non-null  float64
 12  3P%      20452 non-null  float64
 13  2P       20452 non-null  float64
 14  2PA      20452 non-null  float64
 15  2P%      20452 non-null  float64
 16  eFG%     20452 non-null  float64
 17  FT       20452 non-null  float64
 18  FTA      20452 non-null  float64
 19  FT%      20452 non-null  float64
 20  ORB      20452 non-null  float64
 21  DRB      20452 non-null  float64
 22  TRB      20452 non-null  float64
 23  AST      20452 non-null  float64
 24  STL      20452 non-null  float64
 25  BLK      20452 non-null  float64
 26  TOV      20452 non-null  float64
 27  PF       20452 non-null  float64
 28  PTS      20452 non-null  float64
 29  Season   20452 non-null  int64
 30  PER      20452 non-null  float64
 31  TS%      20452 non-null  float64
 32  3PAr     20452 non-null  float64
 33  FTr      20452 non-null  float64
 34  ORB%     20452 non-null  float64
 35  DRB%     20452 non-null  float64
 36  TRB%     20452 non-null  float64
 37  AST%     20452 non-null  float64
 38  STL%     20452 non-null  float64
 39  BLK%     20452 non-null  float64
 40  TOV%     20452 non-null  float64
 41  USG%     20452 non-null  float64
 42  OWS      20452 non-null  float64
 43  DWS      20452 non-null  float64
 44  WS       20452 non-null  float64
 45  WS/48    20452 non-null  float64
 46  OBPM     20452 non-null  float64
 47  DBPM     20452 non-null  float64
 48  BPM      20452 non-null  float64
 49  VORP     20452 non-null  float64
 50  First    20452 non-null  int64
 51  Pts Won  20452 non-null  int64
 52  Pts Max  20452 non-null  int64
 53  Share    20452 non-null  float64
 54  Rk       20452 non-null  int64
 55  Overall  20452 non-null  object
dtypes: float64(44), int64(8), object(4)
memory usage: 8.9+ MB

In [23]:
drive.mount('drive')

df.to_csv(f'df_nba_mvp_1980_2022.csv', index = False)
!cp df_nba_mvp_1980_2022.csv 'drive/My Drive/'

Mounted at drive